<h1>Welcome, <%= current_user.name %></h1>

<p class="well">Administrator of <strong><%= current_user.organization.name %></strong></p>

<p>You are logged in as admin role, The functionality of the site could be accessed by the above menu</p>
<p>As an Admin, you are also an ordinary user. It means that you could also log your time sheets</p>
