<ul class="nav nav-tabs">
  <li class="<%= action_active('index') %>">
    <%= link_to activities_path do %>
        <i class="icon-list-alt"></i>
        Index
    <% end %>
  </li>
  
  <li class="<%= action_active('new') %>">
    <%= link_to new_activity_path do %>
      <i class="icon-plus"></i>
      Create New
    <% end %>
  </li>
</ul>